body {
  ;
}

#modal {
  display: none;
  position: fixed;
  background-color: rgba(14, 0, 173, 0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.innerModal {
  border-radius: 15px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 45%;
  margin-left: 32%;
  margin-right: 32%;
  width: 36%;
}